nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
}
nav ul li a:hover{
    background-color: rgb(230, 196, 196);
}
nav ul li a{
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
    margin-top: 50px;
}
.first{
    display: flex;
    justify-content: space-between;
}

.logo{
    margin-left: 10px;
}
.register{
    margin-left: 50px;
    margin-top: 20px;
    height: 40px;
    width:100px ;
    border-radius: 5px;
    background-color: rgb(59, 113, 202);
    border: none;
    color: white; 
    cursor: pointer;  
}
.register:hover{
    background-color: rgb(139, 174, 231);
    color: white;
}

